<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Videbate</title>
</head>
<body>
    <div id="videbate"></div>
    <script type="module">
        // This will get replaced with actual data by our server.
        const postData = null;
        import {show} from '/site/videbate.js';
        window.addEventListener('load', async() => await show(document.getElementById('videbate'), postData));
    </script>
</body>
</html>
